body {
    margin: 0;
    font-family: Roboto;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 150px;
}

.about-header {
    font-size: 48px;
    font-weight: 900;
    margin: 0 20px;
}

.main-logo {
    font-size: 24px;
}

.about-header, .main-logo {
    color: #F9FAF8;
}
.main-links {
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;
}

.main-logo,
.main-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.link {
    gap: 2px;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    gap: 100px;
}

.about-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    text-wrap: wrap;
    text-align: justify;
}

.button {
    width: 80px;
    height: 25px;
    padding: 4px 8px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 4px;
    border: #1F2937;
    box-shadow: 0 1px #383838;
}

.button:hover {
    background-color: #5690ec;
}

.button:active {
    box-shadow: none;
    transform: translateY(1px);
}

.profile-picture {
    background: gray;
    width: 250px;
    height: 250px;
}

.info-section {
    display: flex;
    flex-direction: column;
}

.info-highlights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.info-header {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
    padding: 40px;
}

.info {
    display: flex;
    flex-direction: column;
}
.info-cards {
    width: 200px;
    height: 200px;
    border-style:solid;
    border-width: 4px;
    border-radius: 15px;
    border-color: #3882f6;
}

.info-text {
    text-align: center;
    width: 200px;
    padding: 8px 0 80px 0;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 80px 160px;
}

.quote {
    font-size: 36px;
    color:#1F2937;
    font-weight:lighter;
    font-style:italic;
    text-align: justify;
}

.quote-author {
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    padding-top: 8px;
}

.signup-container {
    display: flex;
    justify-content: center;
}

.signup-section {
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-evenly;
    border-radius: 5px;
    color: #F9FAF8;
    width: 800px;
    height: 100px;
    margin: 100px;
    padding: 24px;
    gap: 20px;
    background-color: #5690ec;
}

.signup-left-side {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.signup-button {
    font-size:18px;
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 1px;
    width: 160px;
    height: 50px;
}

.signup-header {
    font-size: 24px;
    font-weight: bold;
}

.signup-info {
    margin: 0;
}

.footer {
    background-color: #1F2937;
    color:#F9FAF8;
    text-align: center;
    padding: 50px;
}

